<div id="c1" class="content hidden">
    <div class="row">
      <div class="col-md-12">
        <div class="card ">
          <div class="card-header">
            <h4 class="card-title"> User Table</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive" id="userTableDiv">
              <table class="table tablesorter">
                    <thead class=" text-primary">
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Mobile</th>
                                <th>Address</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                          <%allUsers.forEach(function(u){%>
                            <tr>
                                <td><%=u.name.first%> <%=u.name.last%></td>
                                <td><%=u.email%></td>
                                <td><%=u.contact_number%></td>
                                <td><%=u.full_address.address%></td>	
                                <td>
                                  <%if(u.is_active == 'Y'){%>
                                  <button class="btn btn-sm btn-danger"  data-placement="bottom" title="Disable" onclick="changeStatus('<%-u._id%>',false)"> <i class="tim-icons icon-simple-remove"></i></button>
                                  <%}else{%>
                                    <button class="btn btn-sm btn-success"  data-placement="bottom" title="Enable" onclick="changeStatus('<%-u._id%>',true)"> <i class="tim-icons icon-check-2"></i></button>
                                    <%}%>
                                    <a
                                      class="btn btn-sm btn-primary"
                                      target="_blank"
                                      href="/showUserDashboard/<%-u._id%>"
                                      data-toggle="tooltip"
                                      data-placement="bottom"
                                      title="View DashBoard"
                                    >
                                      <i class="tim-icons icon-chart-pie-36"></i>
                                    </a>
                                </td>
                            </tr>
                            <%})%>
                        </tbody>
                </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>