<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <%-include('initialStyles')%>
  <title>
    HEMS
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <!-- Nucleo Icons -->
  <link href="../assets/css/nucleo-icons.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link href="../assets/css/black-dashboard.css?v=1.0.0" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="../assets/demo/demo.css" rel="stylesheet" />
  <%-include('initialStyles')%>
  <script src="../assets/js/gauge.min.js"></script>
</head>

<body class="">
  <div class="wrapper">
    <div class="sidebar ">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
    -->
      <div class="sidebar-wrapper">
        <div class="logo">
            <!-- <a href="javascript:void(0)" class="simple-text logo-mini">
              HMS
            </a> -->
            <a href="javascript:void(0)" class="simple-text logo-normal">
              ADMIN
            </a>
          </div>
          <ul class="nav">
            <li id = "m1">
              <a onclick="changeMenu('dashboard')">
                <i class="tim-icons icon-chart-pie-36"></i>
                <p>Dashboard</p>
              </a>
            </li>
            <li id = "m2">
                <a onclick="changeMenu('userAnalytics')">
                <i class="tim-icons icon-chart-bar-32"></i>
                <p>Analytics</p>
            </li>
          </ul>
        </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle d-inline">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="javascript:void(0)">Dashboard</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse" id="navigation">
            <ul class="navbar-nav ml-auto">
              <li class="search-bar input-group">
                <button class="btn btn-link" id="search-button" data-toggle="modal" data-target="#searchModal"><i class="tim-icons icon-zoom-split"></i>
                  <span class="d-lg-none d-md-block">Search</span>
                </button>
              </li>
              <label>Welcome Admin <i class="tim-icons icon-satisfied"></i></label>
              <li class="dropdown nav-item">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                  <div class="photo">
                    <img src="assets/img/anime3.png" alt="Profile Photo">
                  </div>
                  <b class="caret d-none d-lg-block d-xl-block"></b>
                  <p class="d-lg-none">
                    Log out
                  </p>
                </a>
                <ul class="dropdown-menu dropdown-navbar">
                  <li class="nav-link">
                    <a href="javascript:void(0)" class="nav-item dropdown-item">Profile</a>
                  </li>
                  <li class="nav-link">
                    <a href="javascript:void(0)" class="nav-item dropdown-item">Settings</a>
                  </li>
                  <li class="dropdown-divider"></li>
                  <li class="nav-link">
                    <a href="/users/logout" class="nav-item dropdown-item">Log out</a>
                  </li>
                </ul>
              </li>
              <li class="separator d-lg-none"></li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="modal modal-search fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="SEARCH">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i class="tim-icons icon-simple-remove"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- End Navbar -->
      
      <!-- content here  -->
      <!-- <div id="ejsContent"></div> -->
      <%if(active == 'dashboard'){%>
      <%-include('adminDashboardContent')%>
      <%-include('useranalytics')%>
      <%}else if(active == 'userAnalytics'){%>
      <%}%>
      

      <!-- content here  -->

      <footer class="footer">
        <div class="container-fluid">
          <ul class="nav">
            <li class="nav-item">
              <a href="javascript:void(0)" class="nav-link">
                About Us
              </a>
            </li>
            <li class="nav-item">
              <a href="javascript:void(0)" class="nav-link">
                Blog
              </a>
            </li>
          </ul>
          <div class="copyright">
            ©
            <script>
              document.write(new Date().getFullYear())
            </script> 
            <!-- made with <i class="tim-icons icon-heart-2"></i> by -->
            <a href="javascript:void(0)" target="_blank">copyright</a> 
          </div>
        </div>
      </footer>
    </div>
  </div>
  
  <div class="fixed-plugin">
    <div class="dropdown show-dropdown">
      <a href="#" data-toggle="dropdown">
        <i class="fa fa-cog fa-2x"> </i>
      </a>
      <ul class="dropdown-menu">
        <li class="header-title"> Sidebar Background</li>
        <li class="adjustments-line">
          <a href="javascript:void(0)" class="switch-trigger background-color">
            <div class="badge-colors text-center">
              <span class="badge filter badge-primary active" data-color="primary"></span>
              <span class="badge filter badge-info" data-color="blue"></span>
              <span class="badge filter badge-success" data-color="green"></span>
            </div>
            <div class="clearfix"></div>
          </a>
        </li>
        <li class="adjustments-line text-center color-change">
          <span class="color-label">LIGHT MODE</span>
          <span class="badge light-badge mr-2"></span>
          <span class="badge dark-badge ml-2"></span>
          <span class="color-label">DARK MODE</span>
        </li>
      </ul>
    </div>
  </div>
  <%-include('initialScript')%>
  <script src="js/canvasjs.min.js"></script>
  <script>
    $(document).ready(function() {
      $().ready(function() {
         var activeMenu = '<%=active%>';
        if( activeMenu == "dashboard"){
          var content = `<%-include('adminDashboardContent')%>`;
          // $('#ejsContent').append(content);
          $('#m1').addClass('active');
          $('#m2').removeClass('active');
          console.log("content",content);
          $('#c1').toggleClass('hidden');
        }else if(activeMenu == "userAnalytics"){
          $('#m2').addClass('active');
          $('#m1').removeClass('active');
          $('#c1').toggleClass('hidden');
        }

        $sidebar = $('.sidebar');
        $navbar = $('.navbar');
        $main_panel = $('.main-panel');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');
        sidebar_mini_active = true;
        white_color = false;

        window_width = $(window).width();

        fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();



        $('.fixed-plugin a').click(function(event) {
          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });

        $('.fixed-plugin .background-color span').click(function() {
          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data', new_color);
          }

          if ($main_panel.length != 0) {
            $main_panel.attr('data', new_color);
          }

          if ($full_page.length != 0) {
            $full_page.attr('filter-color', new_color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr('data', new_color);
          }
        });

        $('.switch-sidebar-mini input').on("switchChange.bootstrapSwitch", function() {
          var $btn = $(this);

          if (sidebar_mini_active == true) {
            $('body').removeClass('sidebar-mini');
            sidebar_mini_active = false;
            blackDashboard.showSidebarMessage('Sidebar mini deactivated...');
          } else {
            $('body').addClass('sidebar-mini');
            sidebar_mini_active = true;
            blackDashboard.showSidebarMessage('Sidebar mini activated...');
          }

          // we simulate the window Resize so the charts will get updated in realtime.
          var simulateWindowResize = setInterval(function() {
            window.dispatchEvent(new Event('resize'));
          }, 180);

          // we stop the simulation of Window Resize after the animations are completed
          setTimeout(function() {
            clearInterval(simulateWindowResize);
          }, 1000);
        });

        $('.switch-change-color input').on("switchChange.bootstrapSwitch", function() {
          var $btn = $(this);

          if (white_color == true) {

            $('body').addClass('change-background');
            setTimeout(function() {
              $('body').removeClass('change-background');
              $('body').removeClass('white-content');
            }, 900);
            white_color = false;
          } else {

            $('body').addClass('change-background');
            setTimeout(function() {
              $('body').removeClass('change-background');
              $('body').addClass('white-content');
            }, 900);

            white_color = true;
          }


        });

        $('.light-badge').click(function() {
          $('body').addClass('white-content');
        });

        $('.dark-badge').click(function() {
          $('body').removeClass('white-content');
        });
      });
    });

//live chart
var dataPoints1 = [];
var dataPoints2 = [];
    var chart = new CanvasJS.Chart("chartContainer", {
	zoomEnabled: true,
	title: {
		text: "Power analytics"
	},
	axisX: {
		title: "Power analytics"
	},
	axisY:{
		prefix: "W",
		includeZero: false
	}, 
	toolTip: {
		shared: true
	},
	legend: {
		cursor:"pointer",
		verticalAlign: "top",
		fontSize: 22,
		fontColor: "dimGrey",
		itemclick : toggleDataSeries
	},
	data: [{ 
		type: "column",
		xValueType: "dateTime",
		yValueFormatString: "####.00W",
		xValueFormatString: "hh:mm:ss TT",
		showInLegend: true,
		name: "device 1",
		dataPoints: dataPoints1
		},
		{				
			type: "column",
			xValueType: "dateTime",
			yValueFormatString: "####.00W",
			showInLegend: true,
			name: "device 2" ,
			dataPoints: dataPoints2
	}]
});
function toggleDataSeries(e) {
	if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
		e.dataSeries.visible = false;
	}
	else {
		e.dataSeries.visible = true;
	}
	chart.render();
}

var updateInterval = 3000;
// initial value
var yValue1 = 600; 
var yValue2 = 605;

var time = new Date;
// starting at 9.30 am
time.setHours(9);
time.setMinutes(30);
time.setSeconds(00);
time.setMilliseconds(00);

function updateChart(count) {
	count = count || 1;
	var deltaY1, deltaY2;
	for (var i = 0; i < count; i++) {
		time.setTime(time.getTime()+ updateInterval);
		deltaY1 = .5 + Math.random() *(-.5-.5);
		deltaY2 = .5 + Math.random() *(-.5-.5);

	// adding random value and rounding it to two digits. 
	yValue1 = Math.round((yValue1 + deltaY1)*100)/100;
	yValue2 = Math.round((yValue2 + deltaY2)*100)/100;

	// pushing the new values
	dataPoints1.push({
		x: time.getTime(),
		y: yValue1
	});
	dataPoints2.push({
		x: time.getTime(),
		y: yValue2
	});
	}

	// updating legend text with  updated with y Value 
	chart.options.data[0].legendText = " Device A " + yValue1+"W";
	chart.options.data[1].legendText = " Device B " + yValue2+"W"; 
	chart.render();
}
// generates first set of dataPoints 
updateChart(100);	
setInterval(function(){updateChart()}, updateInterval);

//live chart end

    var gauge = new RadialGauge({
          renderTo: 'gauge-id', // identifier of HTML canvas element or element itself
          width: 330,
          height: 330,
          units: 'Amperes',
          title: false,
          value: 0,
          minValue: 0,
          maxValue: 220,
          majorTicks: [
              '0','20','40','60','80','100','120','140','160','180','200','220'
          ],
          minorTicks: 2,
          strokeTicks: false,
          highlights: [
              { from: 0, to: 50, color: '#3de0fc' },
              { from: 50, to: 100, color: '#3de0fc' },
              { from: 100, to: 150, color: '#3de0fc' },
              { from: 150, to: 200, color: '#3de0fc' },
              { from: 200, to: 220, color: '#3de0fc' }
          ],
          colorPlate: '#27293d',
          colorMajorTicks: '#27293d',
          colorMinorTicks: '#27293d',
          borderOuterWidth: 0,
          borderMiddleWidth: 0,
          borderInnerWidth: 0,
          borderShadowWidth: 0,
          colorBorderOuter: '#27293d',
          colorBorderOuterEnd: '#27293d', 
          colorBorderMiddle: '#27293d', 
          colorBorderMiddleEnd: '#27293d', 
          colorBorderInner: '#27293d', 
          colorBorderInnerEnd: '#27293d',
          colorTitle: '#3de0fc',
          colorUnits: '#3de0fc',
          colorNumbers: '#3de0fc',
          colorNeedleStart: 'rgba(240, 128, 128, 1)',
          colorNeedleEnd: 'rgba(255, 160, 122, .9)',
          valueBox: true,
          animationRule: 'bounce'
      });
      // draw initially
      gauge.draw();
      // animate
      // setInterval(() => {
      //   gauge.value = Math.random() * -220 + 220;
      // }, 1000);

    function changeMenu(menu){
      activeMenu = menu;
      if( activeMenu == "dashboard"){
        $('.nav > .active').removeClass();
          $('#m1').addClass('active');
           //to scroll to top
           $("html").toggleClass("perfect-scrollbar-on");
          $("html, body").animate({ scrollTop: 0 }, "slow");
          $("html").toggleClass("perfect-scrollbar-on");
          //till here
          $('.content').addClass('hidden');
          $('#c1').removeClass('hidden');
          $('.navbar-brand').html('dashboard');
        }else if(activeMenu == "userAnalytics"){
          $('.nav > .active').removeClass();
          $('#m2').addClass('active');
           //to scroll to top
           $("html").toggleClass("perfect-scrollbar-on");
          $("html, body").animate({ scrollTop: 0 }, "slow");
          $("html").toggleClass("perfect-scrollbar-on");
          //till here
          $('.content').addClass('hidden');
          $('#c3').removeClass('hidden');
          $('.navbar-brand').html('User analytics');
        }
    }

  function changeStatus(uid,status){
    console.log("changing status", uid, status);
    var link = '/changeStatus?uid='+uid;
    if(status){
      link = link + '&status=Y';
      $.get(link,function(res){
        if(res.code == 0){
          $("#userTableDiv").load(location.href+" #userTableDiv>*","");
          demo.showNotification('bottom','center','User Updated',2,'icon-check-2');
        }
      });
    }else{
      link = link + '&status=N';
      $.get(link,function(res){
        if(res.code == 0){
          $("#userTableDiv").load(location.href+" #userTableDiv>*","");
          demo.showNotification('bottom','center','User Updated',2,'icon-check-2');
        }
      });
    }
  }

   //sockets
   gauge.value = 0;
    var socket = io("http://hems-socket.qleverlabs.in");
    socket.on('get-reading', function(res) {
      console.log("READING", res);
      // setInterval(() => {
        // setTimeout(function() {
          if(res.Device_id == 'deviceId1')
          gauge.value = res.readings.amperes;
        // }, 1000)

      // }, 1000);
    })
var devices = [];
  function showAnalytics(uid){
    $('#meterDiv').removeClass('hidden');
    $($($(this).closest("tr"))).append('<i class="tim-icons icon-check-2"></i>');
    console.log(uid);
      $.get('/users/showAnalytics/'+uid,function(res){
        if(res.code == 0){
          devices = res.devices;
          $('#userTable').remove();
          var htm = '<div id = "userTable" class="row"> <div class="card"> <div class="col-md-12"> <div class="card-header"> <h4 class="card-title"> Device Table</h4> </div> <div class="card-body"><table class="table tablesorter "> <thead class=" text-primary"> <tr> <th> Name </th> <th> Brand </th> <th> Model </th> <th> Usage </th> </tr> </thead> <tbody>';
          devices.forEach(function(d){
            htm = htm + '<tr><td>'+d.name+'</td>';
            htm = htm + '<td>'+d.brand+'</td>';
            htm = htm + '<td>'+d.model+'</td>';
            htm = htm + '<td>'+d.usage+'</td></tr>';
          });
          htm = htm + '</tbody> </table> </div> </div> </div> </div>';

          $('#c2').append(htm);


        demo.showNotification('bottom','center','Showing Analytics',2,'icon-check-2');
      }else if(res.code == 1){
        demo.showNotification('bottom','center',res.message,4,'icon-check-2');
      }
    });
  }
  function showDashboard(uid){
    console.log(uid);
   // $.get('/users/showUserDashboard/'+uid,function(res){
      demo.showNotification('bottom','center','Showing Dashboard',2,'icon-check-2');
    //});
  }
  </script>
  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initDashboardPageCharts();

    });
  </script>
</body>

</html>