<footer class="footer">
        <div class="container-fluid">
          <ul class="nav">
            <!-- <li class="nav-item">
              <a href="javascript:void(0)" class="nav-link">
                Creative Tim
              </a>
            </li> -->
            <li class="nav-item">
              <a href="javascript:void(0)" class="nav-link">
                About Us
              </a>
            </li>
            <li class="nav-item">
              <a href="javascript:void(0)" class="nav-link">
                Blog
              </a>
            </li>
          </ul>
          <div class="copyright">
            ©
            <script>
              document.write(new Date().getFullYear())
            </script> 
            <!-- made with <i class="tim-icons icon-heart-2"></i> by -->
            <a href="javascript:void(0)" target="_blank">copyright</a> 
          </div>
        </div>
      </footer>