<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="../assets/img/apple-icon.png"
    />
    <link rel="icon" type="image/png" href="../assets/img/favicon.png" />
    <%-include('initialStyles')%>
    <title>HEMS</title>
    <!-- Fonts and icons -->
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800"
      rel="stylesheet"
    />
    <link
      href="https://use.fontawesome.com/releases/v5.0.6/css/all.css"
      rel="stylesheet"
    />
    <!-- Nucleo Icons -->
    <link href="../assets/css/nucleo-icons.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link href="../assets/css/black-dashboard.css?v=1.0.0" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="../assets/demo/demo.css" rel="stylesheet" />
    <script src="../assets/js/gauge.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  </head>

  <body class="">
    <div class="wrapper">
      <div class="sidebar">
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
        -->
        <div class="sidebar-wrapper">
          <div class="logo">
            <!--
              <a href="javascript:void(0)" class="simple-text logo-mini">
                HMS
              </a>
            -->
            <a href="javascript:void(0)" class="simple-text logo-normal">
              <%-user.username%>
            </a>
          </div>
          <ul class="nav">
            <li id="m1">
              <a onclick="changeMenu('dashboard')">
                <i class="tim-icons icon-chart-pie-36"></i>
                <p>Dashboard</p>
              </a>
            </li>
            <!--
              <li id="m2">
                <a onclick="changeMenu('notifications')">
                  <i class="tim-icons icon-bell-55"></i>
                  <p>Notifications</p>
                </a>
              </li>
            -->
            <li id="m2">
              <a onclick="changeMenu('profile')">
                <i class="tim-icons icon-single-02"></i>
                <p>User Profile</p>
              </a>
            </li>
            <li id="m3">
              <a onclick="changeMenu('devicelist')">
                <i class="tim-icons icon-puzzle-10"></i>
                <p>Device List</p>
              </a>
            </li>
            <li id="m4">
              <a onclick="changeMenu('support')">
                <i class="tim-icons icon-world"></i>
                <p>Customer Support</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="main-panel">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
          <div class="container-fluid">
            <div class="navbar-wrapper">
              <div class="navbar-toggle d-inline">
                <button type="button" class="navbar-toggler">
                  <span class="navbar-toggler-bar bar1"></span>
                  <span class="navbar-toggler-bar bar2"></span>
                  <span class="navbar-toggler-bar bar3"></span>
                </button>
              </div>
              <a class="navbar-brand" href="javascript:void(0)"></a>
            </div>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navigation"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-bar navbar-kebab"></span>
              <span class="navbar-toggler-bar navbar-kebab"></span>
              <span class="navbar-toggler-bar navbar-kebab"></span>
            </button>
            <div class="collapse navbar-collapse" id="navigation">
              <ul class="navbar-nav ml-auto">
                <li class="search-bar input-group">
                  <button
                    class="btn btn-link"
                    id="search-button"
                    data-toggle="modal"
                    data-target="#searchModal"
                  >
                    <i class="tim-icons icon-zoom-split"></i>
                    <span class="d-lg-none d-md-block">Search</span>
                  </button>
                </li>
                <li class="dropdown nav-item">
                  <a
                    href="javascript:void(0)"
                    class="dropdown-toggle nav-link"
                    data-toggle="dropdown"
                  >
                    <div
                      class="notification d-none d-lg-block d-xl-block"
                    ></div>
                    <i class="tim-icons icon-bell-55"></i>
                    <p class="d-lg-none">Notifications</p>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-right dropdown-navbar">
                    <!--
                      <li class="nav-link">
                        <a href="#" class="nav-item dropdown-item">Turn off the basement lights</a>
                      </li>
                      <li class="nav-link">
                        <a href="javascript:void(0)" class="nav-item dropdown-item">You have 5 more tasks</a>
                      </li>
                      <li class="nav-link">
                        <a href="javascript:void(0)" class="nav-item dropdown-item">Bill overdue</a>
                      </li>
                      <li class="nav-link">
                        <a href="javascript:void(0)" class="nav-item dropdown-item">Fan needs repair</a>
                      </li>
                      <li class="nav-link">
                        <a href="javascript:void(0)" class="nav-item dropdown-item">Socket burn in basement</a>
                      </li>
                    -->
                  </ul>
                </li>
                <li class="dropdown nav-item">
                  <a
                    href="#"
                    class="dropdown-toggle nav-link"
                    data-toggle="dropdown"
                  >
                    <div class="photo">
                      <img src="../assets/img/anime3.png" alt="Profile Photo" />
                    </div>
                    <b class="caret d-none d-lg-block d-xl-block"></b>
                    <p class="d-lg-none">Log out</p>
                  </a>
                  <ul class="dropdown-menu dropdown-navbar">
                    <li class="nav-link">
                      <a
                        href="javascript:void(0)"
                        onclick="changeMenu('profile')"
                        class="nav-item dropdown-item"
                        >Profile</a
                      >
                    </li>
                    <li class="nav-link">
                      <a
                        href="javascript:void(0)"
                        onclick="changeMenu('profile')"
                        class="nav-item dropdown-item"
                        >Settings</a
                      >
                    </li>
                    <li class="dropdown-divider"></li>
                    <li class="nav-link">
                      <a href="/users/logout" class="nav-item dropdown-item"
                        >Log out</a
                      >
                    </li>
                  </ul>
                </li>
                <li class="separator d-lg-none"></li>
              </ul>
            </div>
          </div>
        </nav>
        <div
          class="modal modal-search fade"
          id="searchModal"
          tabindex="-1"
          role="dialog"
          aria-labelledby="searchModal"
          aria-hidden="true"
        >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <input
                  type="text"
                  class="form-control"
                  id="inlineFormInputGroup"
                  placeholder="SEARCH"
                />
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <i class="tim-icons icon-simple-remove"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- End Navbar -->

        <!-- content here -->
        <%if(active == 'dashboard'){%> <%-include('dashboardContent')%>
        <%-include('user-profile')%> <%-include('user-devicelist')%>
        <%-include('user-support')%> <%}else{%> <%-include('dashboardContent')%>
        <%}%>
        <footer class="footer">
          <div class="container-fluid">
            <ul class="nav">
              <!--
                <li class="nav-item">
                  <a href="javascript:void(0)" class="nav-link">
                    Creative Tim
                  </a>
                </li>
              -->
              <li class="nav-item">
                <a href="javascript:void(0)" class="nav-link"> About Us </a>
              </li>
              <li class="nav-item">
                <a href="javascript:void(0)" class="nav-link"> Blog </a>
              </li>
            </ul>
            <div class="copyright">
              ©
              <script>
                document.write(new Date().getFullYear());
              </script>
              <!-- made with <i class="tim-icons icon-heart-2"></i> by -->
              <a href="javascript:void(0)" target="_blank">copyright</a>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <div class="fixed-plugin">
      <div class="dropdown show-dropdown">
        <a href="#" data-toggle="dropdown">
          <i class="fa fa-cog fa-2x"> </i>
        </a>
        <ul class="dropdown-menu">
          <li class="header-title">Sidebar Background</li>
          <li class="adjustments-line">
            <a
              href="javascript:void(0)"
              class="switch-trigger background-color"
            >
              <div class="badge-colors text-center">
                <span
                  class="badge filter badge-primary active"
                  data-color="primary"
                ></span>
                <span class="badge filter badge-info" data-color="blue"></span>
                <span
                  class="badge filter badge-success"
                  data-color="green"
                ></span>
              </div>
              <div class="clearfix"></div>
            </a>
          </li>
          <li class="adjustments-line text-center color-change">
            <span class="color-label">LIGHT MODE</span>
            <span class="badge light-badge mr-2"></span>
            <span class="badge dark-badge ml-2"></span>
            <span class="color-label">DARK MODE</span>
          </li>
          <!--
            <li class="button-container">
              <a href="https://www.creative-tim.com/product/black-dashboard" target="_blank" class="btn btn-primary btn-block btn-round">Download Now</a>
              <a href="https://demos.creative-tim.com/black-dashboard/docs/1.0/getting-started/introduction.html" target="_blank" class="btn btn-default btn-block btn-round">
                Documentation
              </a>
            </li>
            <li class="header-title">Thank you for 95 shares!</li>
            <li class="button-container text-center">
              <button id="twitter" class="btn btn-round btn-info"><i class="fab fa-twitter"></i> &middot; 45</button>
              <button id="facebook" class="btn btn-round btn-info"><i class="fab fa-facebook-f"></i> &middot; 50</button>
              <br>
              <br>
              <a class="github-button" href="https://github.com/creativetimofficial/black-dashboard" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star ntkme/github-buttons on GitHub">Star</a>
            </li>
          -->
        </ul>
      </div>
    </div>
    <!-- Core JS Files -->
    <script src="../assets/js/core/jquery.min.js"></script>
    <script src="../assets/js/core/popper.min.js"></script>
    <script src="../assets/js/core/bootstrap.min.js"></script>
    <script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <!-- Google Maps Plugin -->
    <!-- Place this tag in your head or just before your close body tag. -->
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
    <!-- Chart JS -->
    <script src="../assets/js/plugins/chartjs.min.js"></script>
    <!-- Notifications Plugin -->
    <script src="../assets/js/plugins/bootstrap-notify.js"></script>
    <!--
      Control Center for Black Dashboard: parallax effects, scripts for the example pages etc
    -->
    <script src="../assets/js/black-dashboard.min.js?v=1.0.0"></script>
    <!-- Black Dashboard DEMO methods, don't include it in your project! -->
    <script src="../assets/demo/demo.js"></script>
    <script src="../assets/js/plugins/bootstrap-datetimepicker.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
      // $('.datepicker').datetimepicker({ format: 'DD/MM/YYYY'});
      $( ".datepicker" ).val(moment().format('MM/DD/YYYY'));
      $( ".datepicker" ).datepicker({
        // showOn: 'button',
    // buttonText: 'Choose Date',
    dateFormat: 'mm/dd/yy',
    defaultDate: new Date(),
    // constrainInput: true
        maxDate : new Date(),defaultDate : +1});
      var selectedColor = "#de4ecc";
      $(document).ready(function() {
        $().ready(function() {
          var activeMenu = "<%=active%>";
          if (activeMenu == "dashboard") {
            var content = `<%-include('dashboardContent')%>`;
            // $('#ejsContent').append(content);
            $("#m1").addClass("active");
            // $('#m2').removeClass('active');
            // console.log("content",content);
            $("#c1").toggleClass("hidden");
            $(".navbar-brand").html("dashboard");
          } else if (activeMenu == "profile") {
            $("#m2").addClass("active");
            // $('#m1').removeClass('active');
            $("#c1").toggleClass("hidden");
            $(".navbar-brand").html("profile");
          } else {
            //admin-user dashboard
            $("#m1").addClass("active");
            $("#c1").removeClass("hidden");
            $(".navbar-brand").html("dashboard");
            $(".sidebar").remove();
            $("#c1").css('padding','78px 155px 30px 150px');
            // $(".sidebar").attr("hidden", "true")
            $(".navbar-expand-lg").css("display", "none");
          }

          $sidebar = $(".sidebar");
          $navbar = $(".navbar");
          $main_panel = $(".main-panel");

          $full_page = $(".full-page");

          $sidebar_responsive = $("body > .navbar-collapse");
          sidebar_mini_active = true;
          white_color = false;

          window_width = $(window).width();

          fixed_plugin_open = $(
            ".sidebar .sidebar-wrapper .nav li.active a p"
          ).html();

          $(".fixed-plugin a").click(function(event) {
            if ($(this).hasClass("switch-trigger")) {
              if (event.stopPropagation) {
                event.stopPropagation();
              } else if (window.event) {
                window.event.cancelBubble = true;
              }
            }
          });

          $(".fixed-plugin .background-color span").click(function() {
            $(this)
              .siblings()
              .removeClass("active");
            $(this).addClass("active");

            var new_color = $(this).data("color");
            selectedColor = new_color;

            if ($sidebar.length != 0) {
              $sidebar.attr("data", new_color);
            }

            if ($main_panel.length != 0) {
              $main_panel.attr("data", new_color);
            }

            if ($full_page.length != 0) {
              $full_page.attr("filter-color", new_color);
            }

            if ($sidebar_responsive.length != 0) {
              $sidebar_responsive.attr("data", new_color);
            }
          });

          $(".switch-sidebar-mini input").on(
            "switchChange.bootstrapSwitch",
            function() {
              var $btn = $(this);

              if (sidebar_mini_active == true) {
                $("body").removeClass("sidebar-mini");
                sidebar_mini_active = false;
                blackDashboard.showSidebarMessage(
                  "Sidebar mini deactivated..."
                );
              } else {
                $("body").addClass("sidebar-mini");
                sidebar_mini_active = true;
                blackDashboard.showSidebarMessage("Sidebar mini activated...");
              }

              // we simulate the window Resize so the charts will get updated in realtime.
              var simulateWindowResize = setInterval(function() {
                window.dispatchEvent(new Event("resize"));
              }, 180);

              // we stop the simulation of Window Resize after the animations are completed
              setTimeout(function() {
                clearInterval(simulateWindowResize);
              }, 1000);
            }
          );

          $(".switch-change-color input").on(
            "switchChange.bootstrapSwitch",
            function() {
              var $btn = $(this);

              if (white_color == true) {
                $("body").addClass("change-background");
                setTimeout(function() {
                  $("body").removeClass("change-background");
                  $("body").removeClass("white-content");
                }, 900);
                white_color = false;
              } else {
                $("body").addClass("change-background");
                setTimeout(function() {
                  $("body").removeClass("change-background");
                  $("body").addClass("white-content");
                }, 900);

                white_color = true;
              }
            }
          );

          $(".light-badge").click(function() {
            $("body").addClass("white-content");
          });

          $(".dark-badge").click(function() {
            $("body").removeClass("white-content");
          });
        });
      });

      $("#profileForm").on("submit", function(e) {
        e.preventDefault();
        // if(checkPassword()){
        console.log($("#profileForm").serialize());
        $.post("/users/updateProfile", $("#profileForm").serialize())
          .done(function(res) {
            if (res.code == 0) {
              $("#c2").load(location.href + " #c2>*", "");
              demo.showNotification(
                "bottom",
                "center",
                "Profile Updated Successfully",
                2,
                "icon-check-2"
              );
            } else if (res.code == 1) {
              demo.showNotification(
                "bottom",
                "center",
                res.message,
                4,
                "icon-alert-circle-exc"
              );
            }
          })
          .fail(function(err) {
            demo.showNotification(
              "bottom",
              "center",
              "Server Problem!! Please try again later",
              4,
              "icon-settings"
            );
          });
        // }
      });

      var gauge = new RadialGauge({
        renderTo: "gauge-id", // identifier of HTML canvas element or element itself
        width: 330,
        height: 330,
        units: "Watts",
        title: false,
        value: 0,
        minValue: 0,
        maxValue: 6000,
        majorTicks: [
          "0",
          "500",
          "1000",
          "1500",
          "2000",
          "2500",
          "3000",
          "3500",
          "4000",
          "4500",
          "5000",
          "5500",
          "6000"
        ],
        minorTicks: 2,
        strokeTicks: false,
        highlights: [
          { from: 0, to: 1000, color: "#3de0fc" },
          { from: 1000, to: 2000, color: "#3de0fc" },
          { from: 2000, to: 3000, color: "#3de0fc" },
          { from: 3000, to: 4000, color: "#3de0fc" },
          { from: 4000, to: 5000, color: "#3de0fc" },
          { from: 5000, to: 6000, color: "#3de0fc" }
        ],
        colorPlate: "#27293d",
        colorMajorTicks: "#27293d",
        colorMinorTicks: "#27293d",
        borderOuterWidth: 0,
        borderMiddleWidth: 0,
        borderInnerWidth: 0,
        borderShadowWidth: 0,
        colorBorderOuter: "#27293d",
        colorBorderOuterEnd: "#27293d",
        colorBorderMiddle: "#27293d",
        colorBorderMiddleEnd: "#27293d",
        colorBorderInner: "#27293d",
        colorBorderInnerEnd: "#27293d",
        colorTitle: "#3de0fc",
        colorUnits: "#3de0fc",
        colorNumbers: "#3de0fc",
        colorNeedleStart: "rgba(240, 128, 128, 1)",
        colorNeedleEnd: "rgba(255, 160, 122, .9)",
        valueBox: true,
        animationRule: "bounce"
      });
      // draw initially
      gauge.draw();
      // animate
      // setInterval(() => {
      //   gauge.value = Math.random() * -220 + 220;
      // }, 1000);

      function changeMenu(menu) {
        activeMenu = menu;
        if (activeMenu == "dashboard") {
          $(".nav > .active").removeClass();
          $("#m1").addClass("active");
           //to scroll to top
           $("html").toggleClass("perfect-scrollbar-on");
          $("html, body").animate({ scrollTop: 0 }, "slow");
          $("html").toggleClass("perfect-scrollbar-on");
          //till here
          $(".content").addClass("hidden");
          $("#c1").removeClass("hidden");
          $(".navbar-brand").html("dashboard");
        } else if (activeMenu == "profile") {
          $(".nav > .active").removeClass();
          $("#m2").addClass("active");
          //to scroll to top
          $("html").toggleClass("perfect-scrollbar-on");
          $("html, body").animate({ scrollTop: 0 }, "slow");
          $("html").toggleClass("perfect-scrollbar-on");
          //till here
          $(".content").addClass("hidden");
          $("#c2").removeClass("hidden");
          $(".navbar-brand").html("profile");
        } else if (activeMenu == "devicelist") {
          $(".nav > .active").removeClass();
          $("#m3").addClass("active");
           //to scroll to top
           $("html").toggleClass("perfect-scrollbar-on");
          $("html, body").animate({ scrollTop: 0 }, "slow");
          $("html").toggleClass("perfect-scrollbar-on");
          //till here
          $(".content").addClass("hidden");
          $("#c3").removeClass("hidden");
          $(".navbar-brand").html("device list");
        } else if (activeMenu == "support") {
          $(".nav > .active").removeClass();
          $("#m4").addClass("active");
           //to scroll to top
           $("html").toggleClass("perfect-scrollbar-on");
          $("html, body").animate({ scrollTop: 0 }, "slow");
          $("html").toggleClass("perfect-scrollbar-on");
          //till here
          $(".content").addClass("hidden");
          $("#c4").removeClass("hidden");
          $(".navbar-brand").html("Customer Support");
        }
      }

      function getChartValue(){
        $.get("/users/getChartReadings",function(res){
          console.log(res.data);
        });
        return [0];
      }
    </script>
    <script>
      $(document).ready(function() {
        // Javascript method's body can be found in assets/js/demos.js
        demo.initDashboardPageCharts();
      });

      var users = `<%=user%>`;

      //sockets
      gauge.value = 0;
      var socket = io("http://hems-socket.qleverlabs.in");
      // var socket = io("http://localhost:4202");
      socket.on("get-reading", function(res) {
        console.log("READING", res);
        if (res.Device_id == "deviceId1") {
          if (res.readings.watts) {
            var dropage = gauge.value - res.readings.watts;
            console.log("here===",res.readings.watts,"---",dropage);
            gauge.value = res.readings.watts;
            var devicesList = [];
            
            if(gauge.value >= 4200){
              $("#dashboardDeviceTable > table > tbody > tr").each(function(i, e) {
                   $(e).find('td').eq(0).html("On");
                   $(this).css('background','green');
            })
            }
            // else{
              if(gauge.value == 0){
                $("#dashboardDeviceTable > table > tbody > tr").each(function(i, e) {
                    $(this).css('background','');
                    $(e).find('td').eq(0).html("Off");
                })
              }
                  // if(gauge.value >= 25 && gauge.value <= 75){
                  //   devicesList.push("Fan");
                  // }
                  // if(gauge.value >= 1000 && gauge.value <= 2999){
                  //   devicesList.push("AC");
                  // }
                  // if(gauge.value >= 3000 && gauge.value <= 3000){
                  //       devicesList.push("Geyser");
                  // }
                  // if(gauge.value >= 22 && gauge.value <= 22){
                  //     devicesList.push("Tubeight");
                  //   }
                  // if(gauge.value >= 100 && gauge.value <= 200){
                  //     devicesList.push("Fridge");
                  // }
                  // if(gauge.value >= 100 && gauge.value <= 100){
                  //     devicesList.push("Bulb");
                  // }if(gauge.value == 3022){
                  //   devicesList.push("Geyser");
                  //   devicesList.push("Tubeight");
                  // }

                    var incrs = -dropage;
                  if(incrs >= 25 && incrs <= 75 && dropage < 0){
                    // devicesList.push("Fan");
                    $("#dashboardDeviceTable > table > tbody > tr").each(function(i, e) {
                        if($(e).find('td').eq(1).html() == "Fan"){
                          $(e).find('td').eq(0).html("On");
                          $(this).css('background','green');
                        }
                    })
                  }
                  if(incrs >= 1000 && incrs <= 2999 && dropage < 0){
                    // devicesList.push("AC");
                    $("#dashboardDeviceTable > table > tbody > tr").each(function(i, e) {
                        if($(e).find('td').eq(1).html() == "AC"){
                          $(e).find('td').eq(0).html("On");
                          $(this).css('background','green');
                        }
                    })
                  }
                  if(incrs >= 3001 && incrs <= 4000 && dropage < 0){
                    // devicesList.push("AC");
                    $("#dashboardDeviceTable > table > tbody > tr").each(function(i, e) {
                        if($(e).find('td').eq(1).html() == "AC"){
                          $(e).find('td').eq(0).html("On");
                          $(this).css('background','green');
                        }
                    })
                  }
                  if(incrs >= 3000 && incrs <= 3000 && dropage < 0){
                        // devicesList.push("Geyser");
                        $("#dashboardDeviceTable > table > tbody > tr").each(function(i, e) {
                            if($(e).find('td').eq(1).html() == "Geyser"){
                              $(e).find('td').eq(0).html("On");
                              $(this).css('background','green');
                            }
                        })
                  }
                  if(incrs >= 22 && incrs <= 22 && dropage < 0){
                      // devicesList.push("Tubeight");
                      $("#dashboardDeviceTable > table > tbody > tr").each(function(i, e) {
                            if($(e).find('td').eq(1).html() == "Tubeight"){
                              $(e).find('td').eq(0).html("On");
                              $(this).css('background','green');
                            }
                        })
                    }
                  if(incrs > 20 && incrs <= 200 && dropage < 0){
                      // devicesList.push("Fridge");
                      $("#dashboardDeviceTable > table > tbody > tr").each(function(i, e) {
                            if($(e).find('td').eq(1).html() == "Fridge"){
                              $(e).find('td').eq(0).html("On");
                              $(this).css('background','green');
                            }
                        })
                  }
                  if(incrs >= 100 && incrs <= 100 && dropage < 0){
                      // devicesList.push("Bulb");
                      $("#dashboardDeviceTable > table > tbody > tr").each(function(i, e) {
                            if($(e).find('td').eq(1).html() == "Bulb"){
                              $(e).find('td').eq(0).html("On");
                              $(this).css('background','green');
                            }
                        })
                  }

                  //dropage
                  if(dropage >= 25 && dropage <= 75 && dropage > 0){
                    // devicesList.push("Fan");
                    $("#dashboardDeviceTable > table > tbody > tr").each(function(i, e) {
                        if($(e).find('td').eq(1).html() == "Fan"){
                          $(e).find('td').eq(0).html("Off");
                          $(this).css('background','');
                        }
                    })
                  }
                  if(dropage >= 1000 && dropage <= 2999 && dropage > 0){
                    // devicesList.push("AC");
                    $("#dashboardDeviceTable > table > tbody > tr").each(function(i, e) {
                        if($(e).find('td').eq(1).html() == "AC"){
                          $(e).find('td').eq(0).html("Off");
                          $(this).css('background','');
                        }
                    })
                  }
                  if(dropage >= 3000 && dropage <= 3000 && dropage > 0){
                        // devicesList.push("Geyser");
                        $("#dashboardDeviceTable > table > tbody > tr").each(function(i, e) {
                            if($(e).find('td').eq(1).html() == "Geyser"){
                              $(e).find('td').eq(0).html("Off");
                              $(this).css('background','');
                            }
                        })
                  }
                  if(dropage >= 22 && dropage <= 22 && dropage > 0){
                      // devicesList.push("Tubeight");
                      $("#dashboardDeviceTable > table > tbody > tr").each(function(i, e) {
                            if($(e).find('td').eq(1).html() == "Tubeight"){
                              $(e).find('td').eq(0).html("Off");
                              $(this).css('background','');
                            }
                        })
                    }
                  if(dropage >= 100 && dropage <= 200 && dropage > 0){
                      // devicesList.push("Fridge");
                      $("#dashboardDeviceTable > table > tbody > tr").each(function(i, e) {
                            if($(e).find('td').eq(1).html() == "Fridge"){
                              $(e).find('td').eq(0).html("Off");
                              $(this).css('background','');
                            }
                        })
                  }
                  if(dropage >= 100 && dropage <= 100 && dropage > 0){
                      // devicesList.push("Bulb");
                      $("#dashboardDeviceTable > table > tbody > tr").each(function(i, e) {
                            if($(e).find('td').eq(1).html() == "Bulb"){
                              $(e).find('td').eq(0).html("Off");
                              $(this).css('background','');
                            }
                        })
                  }



                  
            // }
          } else {
            var pf = 0.8;
            var v = 1;
            var i = 1;
            if(res.readings.amperes && res.readings.amperes != 0)
              i = res.readings.amperes;
            if(res.readings.volts && res.readings.volts != 0)
              v = res.readings.volts;
            if(res.readings.pf_factor && res.readings.pf_factor != 0)
              pf = res.readings.pf_factor;
             
            res.readings.watts = (pf*v*i)
            var dropage = gauge.value - res.readings.watts;
            console.log("here===",res.readings.watts,"---",dropage);
            gauge.value = pf*v*i;
            var devicesList = [];
            
            if(gauge.value >= 4200){
              $("#dashboardDeviceTable > table > tbody > tr").each(function(i, e) {
                   $(e).find('td').eq(0).html("On");
                   $(this).css('background','green');
            })
            }
            // else{
              if(gauge.value == 0){
                $("#dashboardDeviceTable > table > tbody > tr").each(function(i, e) {
                    $(this).css('background','');
                    $(e).find('td').eq(0).html("Off");
                })
              }
                  // if(gauge.value >= 25 && gauge.value <= 75){
                  //   devicesList.push("Fan");
                  // }
                  // if(gauge.value >= 1000 && gauge.value <= 2999){
                  //   devicesList.push("AC");
                  // }
                  // if(gauge.value >= 3000 && gauge.value <= 3000){
                  //       devicesList.push("Geyser");
                  // }
                  // if(gauge.value >= 22 && gauge.value <= 22){
                  //     devicesList.push("Tubeight");
                  //   }
                  if(gauge.value >= 20 && gauge.value <= 200){
                    $("#dashboardDeviceTable > table > tbody > tr").each(function(i, e) {
                            if($(e).find('td').eq(1).html() == "Fridge"){
                              $(e).find('td').eq(0).html("On");
                              $(this).css('background','green');
                            }
                        })
                  }
                  if(gauge.value >= 200 && gauge.value <= 300){
                    $("#dashboardDeviceTable > table > tbody > tr").each(function(i, e) {
                            if($(e).find('td').eq(1).html() == "Fridge"){
                              $(e).find('td').eq(0).html("On");
                              $(this).css('background','green');
                            }
                            if($(e).find('td').eq(1).html() == "Fan"){
                              $(e).find('td').eq(0).html("On");
                              $(this).css('background','green');
                            }
                            if($(e).find('td').eq(1).html() == "Bulb"){
                              $(e).find('td').eq(0).html("On");
                              $(this).css('background','green');
                            }
                        })
                  }
                  // if(gauge.value >= 100 && gauge.value <= 100){
                  //     devicesList.push("Bulb");
                  // }if(gauge.value == 3022){
                  //   devicesList.push("Geyser");
                  //   devicesList.push("Tubeight");
                  // }

                    var incrs = -dropage;
                  if(incrs >= 25 && incrs <= 75 && dropage < 0){
                    // devicesList.push("Fan");
                    $("#dashboardDeviceTable > table > tbody > tr").each(function(i, e) {
                        if($(e).find('td').eq(1).html() == "Fan"){
                          $(e).find('td').eq(0).html("On");
                          $(this).css('background','green');
                        }
                    })
                  }
                  if(incrs >= 1000 && incrs <= 2999 && dropage < 0){
                    // devicesList.push("AC");
                    $("#dashboardDeviceTable > table > tbody > tr").each(function(i, e) {
                        if($(e).find('td').eq(1).html() == "AC"){
                          $(e).find('td').eq(0).html("On");
                          $(this).css('background','green');
                        }
                    })
                  }
                  if(incrs >= 3001 && incrs <= 4000 && dropage < 0){
                    // devicesList.push("AC");
                    $("#dashboardDeviceTable > table > tbody > tr").each(function(i, e) {
                        if($(e).find('td').eq(1).html() == "AC"){
                          $(e).find('td').eq(0).html("On");
                          $(this).css('background','green');
                        }
                    })
                  }
                  if(incrs >= 3000 && incrs <= 3000 && dropage < 0){
                        // devicesList.push("Geyser");
                        $("#dashboardDeviceTable > table > tbody > tr").each(function(i, e) {
                            if($(e).find('td').eq(1).html() == "Geyser"){
                              $(e).find('td').eq(0).html("On");
                              $(this).css('background','green');
                            }
                        })
                  }
                  if(incrs >= 22 && incrs <= 22 && dropage < 0){
                      // devicesList.push("Tubeight");
                      $("#dashboardDeviceTable > table > tbody > tr").each(function(i, e) {
                            if($(e).find('td').eq(1).html() == "Tubeight"){
                              $(e).find('td').eq(0).html("On");
                              $(this).css('background','green');
                            }
                        })
                    }
                  if(incrs > 101 && incrs <= 200 && dropage < 0){
                      // devicesList.push("Fridge");
                      $("#dashboardDeviceTable > table > tbody > tr").each(function(i, e) {
                            if($(e).find('td').eq(1).html() == "Fridge"){
                              $(e).find('td').eq(0).html("On");
                              $(this).css('background','green');
                            }
                        })
                  }
                  if(incrs >= 100 && incrs <= 120 && dropage < 0){
                      // devicesList.push("Bulb");
                      $("#dashboardDeviceTable > table > tbody > tr").each(function(i, e) {
                            if($(e).find('td').eq(1).html() == "Bulb"){
                              $(e).find('td').eq(0).html("On");
                              $(this).css('background','green');
                            }
                        })
                  }

                  //dropage
                  if(dropage >= 25 && dropage <= 75 && dropage > 0){
                    // devicesList.push("Fan");
                    $("#dashboardDeviceTable > table > tbody > tr").each(function(i, e) {
                        if($(e).find('td').eq(1).html() == "Fan"){
                          $(e).find('td').eq(0).html("Off");
                          $(this).css('background','');
                        }
                    })
                  }
                  if(dropage >= 1000 && dropage <= 2999 && dropage > 0){
                    // devicesList.push("AC");
                    $("#dashboardDeviceTable > table > tbody > tr").each(function(i, e) {
                        if($(e).find('td').eq(1).html() == "AC"){
                          $(e).find('td').eq(0).html("Off");
                          $(this).css('background','');
                        }
                    })
                  }
                  if(dropage >= 3000 && dropage <= 3000 && dropage > 0){
                        // devicesList.push("Geyser");
                        $("#dashboardDeviceTable > table > tbody > tr").each(function(i, e) {
                            if($(e).find('td').eq(1).html() == "Geyser"){
                              $(e).find('td').eq(0).html("Off");
                              $(this).css('background','');
                            }
                        })
                  }
                  if(dropage >= 22 && dropage <= 22 && dropage > 0){
                      // devicesList.push("Tubeight");
                      $("#dashboardDeviceTable > table > tbody > tr").each(function(i, e) {
                            if($(e).find('td').eq(1).html() == "Tubeight"){
                              $(e).find('td').eq(0).html("Off");
                              $(this).css('background','');
                            }
                        })
                    }
                  if(dropage >= 100 && dropage <= 200 && dropage > 0){
                      // devicesList.push("Fridge");
                      $("#dashboardDeviceTable > table > tbody > tr").each(function(i, e) {
                            if($(e).find('td').eq(1).html() == "Fridge"){
                              $(e).find('td').eq(0).html("Off");
                              $(this).css('background','');
                            }
                        })
                  }
                  if(dropage >= 100 && dropage <= 100 && dropage > 0){
                      // devicesList.push("Bulb");
                      $("#dashboardDeviceTable > table > tbody > tr").each(function(i, e) {
                            if($(e).find('td').eq(1).html() == "Bulb"){
                              $(e).find('td').eq(0).html("Off");
                              $(this).css('background','');
                            }
                        })
                  }


          }
          // console.log("here",devicesList);
          // devicesList.forEach(function(device){
          //   $("#dashboardDeviceTable > table > tbody > tr").each(function(i, e) {
          //     $(this).css('background','');
          //     $(e).find('td').eq(0).html("Off");
          //        if($(e).find('td').eq(1).html() == device){
          //          $(e).find('td').eq(0).html("On");
          //          $(this).css('background','green');
          //        }else{
          //         $(this).css('background','');
          //         $(e).find('td').eq(0).html("Off");
          //        }
          //   })
          // });
        }
      });

      function updateChart(label,dataset,data,chart) {
        chart.data.labels.push(label);
        chart.data.datasets.forEach((dataset) => {
            dataset.data.push(data);
        });
        chart.update();
      }
    </script>
    <script>
      var isEdit = false;
      var selectedRow = [];
      $("#add-button").click(function() {
        $("#boxdiv").toggleClass("hidden");
        $("#addModal").toggleClass("hidden");
      });
  
  //saving add appliance
      $("#addAppliance").on("submit", function(e) {
        e.preventDefault();
        console.log($("#addAppliance").serializeArray());
        var formFields = $("#addAppliance").serializeArray();
        console.log(selectedRow);
        if (isEdit) {
          var feilds = ["name", "brand", "model", "usage"];
          var formData = {
            id : isEdit,
            name: formFields[0].value,
            brand: formFields[1].value,
            model: formFields[2].value,
            usage: formFields[3].value
          };
          
          $.post("/users/updateDevice", { data: JSON.stringify(formData) }, function(res){
            if (res.code == 1) {
              demo.showNotification(
                "bottom",
                "center",
                res.message,
                4,
                "icon-alert-circle-exc"
              );
            } else if (res.code == 0) {
              document.getElementById("addAppliance").reset();
              // $("#boxdiv").toggleClass("hidden");
              // $("#addModal").toggleClass("hidden");
              isEdit = false;
              $("#boxdiv").load(location.href + " #boxdiv>*", "");
              $("#dashboardDeviceTable").load(location.href + " #dashboardDeviceTable>*", "");
              demo.showNotification(
                "bottom",
                "center",
                "Device List Updated",
                2,
                "icon-check-2"
              );
            }
          });

        } else {
          var data = [];
          selectedRow.push(formFields);
        var feilds = ["name", "brand", "model", "usage"];
        selectedRow.forEach(function(f, i) {
          var formData = {
            name: f[0].value,
            brand: f[1].value,
            model: f[2].value,
            usage: f[3].value
          };
          console.log(formData);
          data.push(formData);
        });
          $.post("/users/saveDevices", { data: JSON.stringify(data) }, function(
            res
          ) {
            if (res.code == 1) {
              demo.showNotification(
                "bottom",
                "center",
                res.message,
                4,
                "icon-alert-circle-exc"
              );
            } else if (res.code == 0) {
              document.getElementById("addAppliance").reset();
              // $("#boxdiv").toggleClass("hidden");
              // $("#addModal").toggleClass("hidden");
              isEdit = false;
              $("#boxdiv").load(location.href + " #boxdiv>*", "");
              $("#dashboardDeviceTable").load(location.href + " #dashboardDeviceTable>*", "");
              demo.showNotification(
                "bottom",
                "center",
                "Device List Updated",
                2,
                "icon-check-2"
              );
            }
          });
          selectedRow = [];

        }
        document.getElementById("addAppliance").reset();
        $("#boxdiv").toggleClass("hidden");
        $("#addModal").toggleClass("hidden");
      });
  
  //cancelling appliance
      $("#cancelAddAppliance").click(function() {
        document.getElementById("addAppliance").reset();
        $("#boxdiv").toggleClass("hidden");
        $("#addModal").toggleClass("hidden");
        isEdit = false;
      });
  
      function deleteRow(row) {
        var id = $($(row).closest("tr")).attr("id");
        selectedRow.splice(id, 1);
        $($(row).closest("tr")).remove();
      }
  
      function editAppliance(row, did) {
        var cols = [];
        var id = $($(row).closest("tr")).attr("id");
        $($($(row).closest("tr")))
          .find("td")
          .each(function(colIndex, c) {
            cols.push(c.textContent);
          });
        $("#f1").val(cols[0]);
        $("#f2").val(cols[1]);
        $("#f3").val(cols[2]);
        $("#f4").val(cols[3]);
        $("#boxdiv").toggleClass("hidden");
        $("#addModal").toggleClass("hidden");
        isEdit = did;
      }
  
      function renderTable() {
        selectedRow.forEach(function(r, i) {
          var row = '<tr id = "' + i + '">';
          r.forEach(function(f) {
            row = row + "<td>" + f.value + "</td>";
          });
          row =
            row +
            '<td><i title="Edit appliance" onclick="editAppliance(this)" class="tim-icons icon-pencil" ></i >&nbsp;&nbsp; <i title="Remove appliance" onclick="deleteRow(this)" class="tim-icons icon-trash-simple" ></i> </td>';
          row = row + "</tr>";
          $("#applianceTableRow").append(row);
        });
      }
  
      function saveData() {
        var data = [];
        var feilds = ["name", "brand", "model", "usage"];
        selectedRow.forEach(function(f, i) {
          var formData = {
            name: f[0].value,
            brand: f[1].value,
            model: f[2].value,
            usage: f[3].value
          };
          console.log(formData);
          data.push(formData);
        });
        if (data.length > 0)
          $.post("/users/saveDevices", { data: JSON.stringify(data) }, function(
            res
          ) {
            if (res.code == 1) {
              demo.showNotification(
                "bottom",
                "center",
                res.message,
                4,
                "icon-alert-circle-exc"
              );
            } else if (res.code == 0) {
              window.location.reload();
            }
          });
      }
    </script>
  </body>
</html>
