<!--   Core JS Files   -->
<script src="../js/jquery-3.2.1.min.js"></script>
<script src="../js/sweetalert.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
 <script src="../assets/js/core/jquery.min.js"></script>
 <script src="../assets/js/core/popper.min.js"></script>
 <script src="../assets/js/core/bootstrap.min.js"></script>
 <script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
 <!--  Google Maps Plugin    -->
 <!-- Place this tag in your head or just before your close body tag. -->
 <!-- <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script> -->
 <!-- Chart JS -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
 <script src="../assets/js/plugins/chartjs.min.js"></script>
 <!--  Notifications Plugin    -->
 <script src="../assets/js/plugins/bootstrap-notify.js"></script>
 <!-- Control Center for Black Dashboard: parallax effects, scripts for the example pages etc -->
 <script src="../assets/js/black-dashboard.min.js?v=1.0.0"></script>
 <!-- Black Dashboard DEMO methods, don't include it in your project! -->
 <script src="../assets/demo/demo.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
 <script src="../assets/js/plugins/bootstrap-datetimepicker.js"></script>

 <!-- demo.showNotification('bottom','center','Enter the form please',1,'icon-alert-circle-exc') -->
 <!-- showNotification: function(from, align, msg, color, icon) -->
 <!-- type = ['primary', 'info', 'success', 'warning', 'danger']; -->


 <script>
   $(document).ready(function() {
     $().ready(function() {
      $('[data-toggle="tooltip"]').tooltip();   
       $sidebar = $('.sidebar');
       $navbar = $('.navbar');
       $main_panel = $('.main-panel');

       $full_page = $('.full-page');

       $sidebar_responsive = $('body > .navbar-collapse');
       sidebar_mini_active = true;
       white_color = false;

       window_width = $(window).width();

       fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();



       $('.fixed-plugin a').click(function(event) {
         if ($(this).hasClass('switch-trigger')) {
           if (event.stopPropagation) {
             event.stopPropagation();
           } else if (window.event) {
             window.event.cancelBubble = true;
           }
         }
       });

       $('.fixed-plugin .background-color span').click(function() {
         $(this).siblings().removeClass('active');
         $(this).addClass('active');

         var new_color = $(this).data('color');

         if ($sidebar.length != 0) {
           $sidebar.attr('data', new_color);
         }

         if ($main_panel.length != 0) {
           $main_panel.attr('data', new_color);
         }

         if ($full_page.length != 0) {
           $full_page.attr('filter-color', new_color);
         }

         if ($sidebar_responsive.length != 0) {
           $sidebar_responsive.attr('data', new_color);
         }
       });

       $('.switch-sidebar-mini input').on("switchChange.bootstrapSwitch", function() {
         var $btn = $(this);

         if (sidebar_mini_active == true) {
           $('body').removeClass('sidebar-mini');
           sidebar_mini_active = false;
           blackDashboard.showSidebarMessage('Sidebar mini deactivated...');
         } else {
           $('body').addClass('sidebar-mini');
           sidebar_mini_active = true;
           blackDashboard.showSidebarMessage('Sidebar mini activated...');
         }

         // we simulate the window Resize so the charts will get updated in realtime.
         var simulateWindowResize = setInterval(function() {
           window.dispatchEvent(new Event('resize'));
         }, 180);

         // we stop the simulation of Window Resize after the animations are completed
         setTimeout(function() {
           clearInterval(simulateWindowResize);
         }, 1000);
       });

       $('.switch-change-color input').on("switchChange.bootstrapSwitch", function() {
         var $btn = $(this);

         if (white_color == true) {

           $('body').addClass('change-background');
           setTimeout(function() {
             $('body').removeClass('change-background');
             $('body').removeClass('white-content');
           }, 900);
           white_color = false;
         } else {

           $('body').addClass('change-background');
           setTimeout(function() {
             $('body').removeClass('change-background');
             $('body').addClass('white-content');
           }, 900);

           white_color = true;
         }


       });

       $('.light-badge').click(function() {
         $('body').addClass('white-content');
       });

       $('.dark-badge').click(function() {
         $('body').removeClass('white-content');
       });
     });
   });
 </script>