<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
  </head>
  <%-include('initialStyles')%>
  <style>
    #box {
  width: 400px;
  margin: 10% auto;
  text-align: center;
  background:rgba(255,255,255,0.6);
  padding:20px 50px;
  box-sizing:border-box;
  box-shadow:0 3px 12px rgba(0,0,0,0.2);
  border-radius:2%
}
  #valid{
    text-align: center;
  font-size:12px;
  color:#daa;
  height:15px
}
#strong{
  text-align: center;
  height:20px;
  font-size:12px;
  color:#daa;
  text-transform:capitalize;
  background:rgba(205,205,205,0.1);
  border-radius:5px;
  overflow:hidden
}

#strong span{  
  display:block;
  box-shadow:0 0 0 #fff inset;
  height:100%;
  transition:all 0.8s
}
#strong .weak{
   box-shadow:5em 0 0 #daa inset;
}
#strong .medium{
   color:#da6;
   box-shadow:10em 0 0 #da6 inset
}
#strong .strong{
   color:#595;
   box-shadow:50em 0 0 #ada inset
}
  </style>
  <body class="">
    <div class="wrapper">
      <div class="main-panel">
        <div class="content">
          <div class="row">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header">
                  <h5 class="title">Register Yourself</h5>
                </div>
                <div class="card-body">
                  <form id="registrationForm" autocomplete="off">
                    <div class="row">
                      <div class="col-md-6 pr-md-1">
                        <div class="form-group">
                          <label
                            >First Name<span style="color:red"> *</span></label
                          >
                          <input
                            name="firstName"
                            type="text"
                            class="form-control"
                            placeholder="First Name.."
                            value=""
                            required
                          />
                        </div>
                      </div>
                      <div class="col-md-6 pl-md-1">
                        <div class="form-group">
                          <label>Last Name</label>
                          <input
                            name="lastName"
                            type="text"
                            class="form-control"
                            placeholder="Last Name.."
                            value=""
                          />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label
                            >Address<span style="color:red"> *</span></label
                          >
                          <input
                            name="address"
                            type="text"
                            class="form-control"
                            placeholder="Home Address"
                            value=""
                            required
                          />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4 pr-md-1">
                        <div class="form-group">
                          <label>City</label>
                          <input
                            name="city"
                            type="text"
                            class="form-control"
                            placeholder="City"
                            value=""
                          />
                        </div>
                      </div>
                      <div class="col-md-4 px-md-1">
                        <div class="form-group">
                          <label>Country</label>
                          <input
                            name="country"
                            type="text"
                            class="form-control"
                            placeholder="Country"
                            value=""
                          />
                        </div>
                      </div>
                      <div class="col-md-4 pl-md-1">
                        <div class="form-group">
                          <label
                            >Postal Code<span style="color:red"> *</span></label
                          >
                          <input
                            name="zip_code"
                            type="number"
                            class="form-control"
                            placeholder="Zip Code"
                            required
                          />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3 pr-md-1">
                        <div class="form-group">
                          <label
                            >Username<span style="color:red"> *</span></label
                          >
                          <input
                            name="username"
                            type="text"
                            class="form-control"
                            placeholder="Unique Username"
                            value=""
                            required
                          />
                        </div>
                      </div>
                      <div class="col-md-4 pl-md-1">
                        <div class="form-group">
                          <label for="exampleInputEmail1"
                            >Contact Number<span style="color:red">
                              *</span
                            ></label
                          >
                          <input
                            name="contact_number"
                            type="phone"
                            class="form-control"
                            placeholder="Working contact number"
                            required
                          />
                        </div>
                      </div>
                      <div class="col-md-5 pl-md-1">
                        <div class="form-group">
                          <label for="exampleInputEmail1"
                            >Email address<span style="color:red">
                              *</span
                            ></label
                          >
                          <input
                            name="email"
                            type="email"
                            class="form-control"
                            placeholder="Email"
                            required
                          />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label
                            >Password<span style="color:red"> *</span></label
                          >
                          <input
                          id ="p"
                            name="password"
                            type="password"
                            class="form-control password"
                            placeholder="Minimum of length 6 with special characters"
                            value=""
                            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                            required
                          />
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label
                            >Confirm Password<span style="color:red">
                              *</span
                            ></label
                          >
                          <input
                              id ="confirm"
                            type="password"
                            class="form-control password"
                            placeholder="Re-enter the Password"
                            value=""
                            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                            required
                          />
                        </div>
                      </div>
                    </div>
                    <div class="row hidden" id="bar">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                          <div id="strong"><span></span></div>
                          <div id="valid"></div>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                    <div class="card-footer">
                        <button
                        type="submit"
                        class="btn btn-fill btn-primary"
                        style="float:right;"
                        >
                        Save
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <%-include('initialScript')%>
  <script>
    $("#registrationForm").on("submit", function(e) {
      e.preventDefault();
      // if(checkPassword()){
        $.post('/users/register', $("#registrationForm").serialize()).done(function(res){
          if(res.code == 0){
            swal(
              "Your request has been received!",
              "We will contact you for confirmation soon",
              "success"
            ).then(function() {
              window.location.href = "/";
            });
          }else if(res.code == 1){
            demo.showNotification('bottom','center',res.message,4,'icon-alert-circle-exc');
          }
        }).fail(function(err){
          demo.showNotification('bottom','center','Server Problem!! Please try again later',4,'icon-settings');
        });
      // }
    });

    $('.password').on('keyup',function (){
        $('#bar').removeClass('hidden');
        var p_c = $('#confirm');
        var p = $('#p');
        console.log(p.val() + p_c.val());
      if(p.val().length > 0){
        if(p.val() != p_c.val()) {
          $('#valid').html("Passwords Don't Match");
        } else {
          $('#valid').html('');  
        }
          var s = 'weak'
      if(p.val().length > 5 && p.val().match(/\d+/g))
        s = 'medium';
      if(p.val().length > 6 && p.val().match(/[^\w\s]/gi))
        s = 'strong';   
        $('#strong span').addClass(s).html(s);
        }
      });

    function checkPassword(){
      console.log("here");
      var newP=$('#p').val();
      var confirmP =$('#confirm').val();
      var re = new RegExp("(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}");
      if(newP == confirmP){
        if(re.test(newP)) {
          console.log("Valid");
          return true;
        }else{
          $('#password').focus();
          return false;
        }
      }else if(newP == undefined || newP == '' || confirmP == undefined || confirmP == ''){
        demo.showNotification('bottom','center','Please provide all the fields',4,'icon-alert-circle-exc')
        return false;
      }else {
        $('#confirm').focus();
        demo.showNotification('bottom','center','Confirmed Password is not matching!!',4,'icon-alert-circle-exc')
        return false;
      }
    }
  </script>
  <script src="js/main.js"></script>
  <script src="js/sweetalert.min.js"></script>
  <script src="js/jquery.validate.min.js"></script>
</html>
