<div id ="c2" class="hidden content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h5 class="title">Edit Profile</h5>
          </div>
          <div class="card-body">
            <form id="profileForm" method="POST" action="/updateProfile">
              <!-- <div class="row">
                <div class="col-md-5 pr-md-1">
                  <div class="form-group">
                    <label>Product Plan</label>
                    <input type="text" class="form-control" disabled="" placeholder="Company" value="1 year Demo Package">
                  </div>
                </div>
                <div class="col-md-3 px-md-1">
                  <div class="form-group">
                    <label>Username</label>
                    <input name="username" type="text" class="form-control" placeholder="Username" value="<%-user.username%>" required>
                  </div>
                </div>
                <div class="col-md-4 pl-md-1">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input name="email" type="email" disabled="" class="form-control" placeholder="<%-user.email%>">
                  </div>
                </div>
              </div> -->
              <div class="row">
                  <div class="col-md-3 pr-md-1">
                    <div class="form-group">
                      <label
                        >Username<span style="color:red"> *</span></label
                      >
                      <input
                        name="username"
                        type="text"
                        class="form-control"
                        placeholder="Unique Username"
                        value="<%-user.username%>"
                        required
                      />
                    </div>
                  </div>
                  <div class="col-md-4 pl-md-1">
                    <div class="form-group">
                      <label for="exampleInputEmail1"
                        >Contact Number<span style="color:red">
                          *</span
                        ></label
                      >
                      <input
                        name="contact_number"
                        type="phone"
                        class="form-control"
                        placeholder="Working contact number"
                        value="<%-user.contact_number%>"
                        required
                      />
                    </div>
                  </div>
                  <div class="col-md-5 pl-md-1">
                    <div class="form-group">
                      <label for="exampleInputEmail1"
                        >Email address<span style="color:red">
                          *</span
                        ></label
                      >
                      <input
                        type="email"
                        disabled=""
                        class="form-control"
                        placeholder="Email"
                        value="<%-user.email%>"
                      />
                    </div>
                  </div>
                </div>
              <div class="row">
                <div class="col-md-6 pr-md-1">
                  <div class="form-group">
                    <label>First Name</label>
                    <input name="firstName" type="text" class="form-control" placeholder="First Name.." value="<%-user.name.first%>" required>
                  </div>
                </div>
                <div class="col-md-6 pl-md-1">
                  <div class="form-group">
                    <label>Last Name</label>
                    <input name="lastName" type="text" class="form-control" placeholder="Last Name.." value="<%-user.name.last%>">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Address</label>
                    <input name="address" type="text" class="form-control" placeholder="Home Address" value="<%-user.full_address.address%>" required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 pr-md-1">
                  <div class="form-group">
                    <label>City</label>
                    <input name="city" type="text" class="form-control" placeholder="City" value="<%-user.full_address.city%>">
                  </div>
                </div>
                <div class="col-md-4 px-md-1">
                  <div class="form-group">
                    <label>Country</label>
                    <input name="country" type="text" class="form-control" placeholder="Country" value="<%-user.full_address.country%>">
                  </div>
                </div>
                <div class="col-md-4 pl-md-1">
                  <div class="form-group">
                    <label>Postal Code</label>
                    <input name="zip_code" type="number" class="form-control" placeholder="<%-user.full_address.zip_code%>" value="<%-user.full_address.zip_code%>" required>
                  </div>
                </div>
              </div>
              <!-- <div class="row">
                <div class="col-md-8">
                  <div class="form-group">
                    <label>About Me</label>
                    <textarea rows="4" cols="80" class="form-control" placeholder="Here can be your description" value="Sanjay">Hard Earned Happiness is difficult to desctroy</textarea>
                  </div>
                </div>
              </div> -->
            </div>
            <div class="card-footer">
              <button type="submit" class="btn btn-fill btn-primary">Save</button>
            </div>
          </form>
        </div>
      </div>
      <!-- <div class="col-md-4">
        <div class="card card-user">
          <div class="card-body">
            <p class="card-text">
              <div class="author">
                <div class="block block-one"></div>
                <div class="block block-two"></div>
                <div class="block block-three"></div>
                <div class="block block-four"></div>
                <a href="javascript:void(0)">
                  <img class="avatar" src="../assets/img/emilyz.jpg" alt="...">
                  <h5 class="title">Mike Andrew</h5>
                </a>
                <p class="description">
                  Ceo/Co-Founder
                </p>
              </div>
            </p>
            <div class="card-description">
              Do not be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
            </div>
          </div>
          <div class="card-footer">
            <div class="button-container">
              <button href="javascript:void(0)" class="btn btn-icon btn-round btn-facebook">
                <i class="fab fa-facebook"></i>
              </button>
              <button href="javascript:void(0)" class="btn btn-icon btn-round btn-twitter">
                <i class="fab fa-twitter"></i>
              </button>
              <button href="javascript:void(0)" class="btn btn-icon btn-round btn-google">
                <i class="fab fa-google-plus"></i>
              </button>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>