<div id ="c3" class="hidden content">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h4 class="title">Device Table
                    <button
                    style="float:right"
                    title="Add Appliance"
                    class="btn btn-round btn-primary"
                    id="add-button"
                  >
                  <i class="tim-icons icon-simple-add" ></i>
                  </button>
                </h4>
              </div>
              <div class="card-body">
                <div id="boxdiv">
                  <table class="table tablesorter ">
                      <thead class=" text-primary">
                        <tr>
                          <th>
                            Name
                          </th>
                          <th>
                            Brand
                          </th>
                          <th>
                            Model
                          </th>
                          <th>
                            Usage
                          </th>
                          <th>
                              Action
                            </th>
                        </tr>
                      </thead>
                      <tbody>
                        <%devices.forEach(function(d){%>
                        <tr>
                          <td><%=d.name%></td>
                          <td><%=d.brand%></td>
                          <td><%=d.model%></td>
                          <td><%=d.usage%></td>
                          <td>
                            <i title="Edit appliance" onclick="editAppliance(this,'<%-d._id%>')" class="tim-icons icon-pencil" ></i >
                              <!-- &nbsp;&nbsp;  -->
                            <!-- <i title="Remove appliance" onclick="deleteRow(this,'<%-d._id%>')" class="tim-icons icon-trash-simple" ></i>  -->
                          </td>
                        </tr>
                        <%})%>
                      </tbody>
                    </table>
                  </div>

                    <div class="hidden" id="addModal">
                      <!-- <div id="" class="card col-md-8"> -->
                        <!-- <div class="card-header">
                          <h4 class="card-title">Add Appliance</h4>
                        </div> -->
                        <!-- <div class="card-body"> -->
                          <form id="addAppliance">
                            <div class="form-group">
                              <div class="row-fluid">
                                <label>Appliance Name</label>
                                <input
                                  id="f1"
                                  type="text"
                                  class="form-control"
                                  name="applianceName"
                                  placeholder="Enter Name of Appliance"
                                  value=""
                                  required
                                />
                              </div>
                            </div>
                            <div class="form-group">
                              <div class="row-fluid">
                                <label>Brand Name</label>
                                <input
                                  id="f2"
                                  type="text"
                                  class="form-control"
                                  name="brandName"
                                  placeholder="Enter brand of appliance"
                                  value=""
                                  required
                                />
                              </div>
                            </div>
                            <div class="form-group">
                              <label>Model number</label>
                              <input
                                id="f3"
                                type="text"
                                class="form-control"
                                name="modelNo"
                                id="modelNo"
                                placeholder="Enter model number"
                                value=""
                                required
                              />
                            </div>
          
                            <div class="form-group">
                              <div class="row-fluid">
                                <label>Usage</label>
                                <select
                                  id="f4"
                                  class="btn form-control"
                                  name="usage"
                                  data-show-subtext="true"
                                  data-live-search="true"
                                >
                                  <option value="high">High</option>
                                  <option value="medium">Medium</option>
                                  <option value="low">Low</option>
                                </select>
                              </div>
                            </div>
          
                            <div>
                              <button
                                type="submit"
                                id="saveAppliance"
                                class="btn btn-success"
                              >
                                Save
                              </button>
                              <button id="cancelAddAppliance" class="btn btn-default">
                                Close
                              </button>
                            </div>
                          </form>
                        <!-- </div> -->
                      <!-- </div> -->
                    </div>

              </div>
            </div>
            </div>
        </div>
    </div>