
  <div id ="c3" class="hidden content">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h5 class="title">Analytics</h5>
            </div>
            <div class="card-body">
            </div>
          </div>
          </div>
      </div>
  </div>

<div id="c2" class="hidden content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header"><h5 class="title">Select User</h5></div>
        <div class="card-body">
          <table class="table tablesorter">
            <thead class=" text-primary">
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>Address</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <%allUsers.forEach(function(u){%>
              <tr>
                <td><%=u.name.first%> <%=u.name.last%></td>
                <td><%=u.email%></td>
                <td><%=u.contact_number%></td>
                <td><%=u.full_address.address%></td>
                <td>
                  <button
                    class="btn btn-sm btn-info"
                    onclick="showAnalytics('<%-u._id%>')"
                    data-toggle="tooltip"
                    data-placement="bottom"
                    title="View analytics"
                  >
                    <i class="tim-icons icon-chart-bar-32"></i>
                  </button>
                  <a
                    class="btn btn-sm btn-primary"
                    target="_blank"
                    href="/showUserDashboard/<%-u._id%>"
                    data-toggle="tooltip"
                    data-placement="bottom"
                    title="View DashBoard"
                  >
                    <i class="tim-icons icon-chart-pie-36"></i>
                  </a>
                </td>
              </tr>
              <%})%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div id="meterDiv" class="row hidden">
    <div style="width:2%"></div>

    <div class="card col-md-5">
      <div class="card-header"><h4 class="card-title">Home meter</h4></div>
      <div class="card-body"><canvas id="gauge-id"></canvas></div>
    </div>
    <div style="width:5%"></div>
    <div class="card col-md-6">
      <div class="card-header"><h4 class="card-title">Live Graph</h4></div>
      <div class="card-body">
        <div id="chartContainer" style="height: 300px; width: 100%;"></div>
      </div>
    </div>
  </div>

</div>
