<%-include('initialStyles')%> <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
  </head>
  <body class="">
    <div class="wrapper">
      <div class="main-panel">
        <div class="content" style="padding: 78px 0px 30px 350px;">
          <div id="boxdiv" class="card col-md-8">
            <div class="card-header">
              <h4 class="card-title">
                Configure Appliances
                <button
                  style="float:right"
                  class="btn btn-link"
                  id="add-button"
                >
                  Add Appliance
                </button>
              </h4>
            </div>
            <div class="card-body">
              <table class="table tablesorter " id="applianceTable">
                <thead>
                  <tr>
                    <th>Appliance Name</th>
                    <th>Brand</th>
                    <th>Model</th>
                    <th>Usage</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody id="applianceTableRow"></tbody>
              </table>
              <div>
                <button
                  type="submit"
                  class="btn btn-success"
                  onclick="saveData()"
                  data-dismiss="modal"
                >
                  Save
                </button>
              </div>
            </div>
          </div>

          <div class="hidden" id="addModal">
            <div id="" class="card col-md-8">
              <div class="card-header">
                <h4 class="card-title">Add Appliance</h4>
              </div>
              <div class="card-body">
                <form id="addAppliance">
                  <div class="form-group">
                    <div class="row-fluid">
                      <label>Appliance Name</label>
                      <input
                        id="f1"
                        type="text"
                        class="form-control"
                        name="applianceName"
                        placeholder="Enter Name of Appliance"
                        value=""
                        required
                      />
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="row-fluid">
                      <label>Brand Name</label>
                      <input
                        id="f2"
                        type="text"
                        class="form-control"
                        name="brandName"
                        placeholder="Enter brand of appliance"
                        value=""
                        required
                      />
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Model number</label>
                    <input
                      id="f3"
                      type="text"
                      class="form-control"
                      name="modelNo"
                      id="modelNo"
                      placeholder="Enter model number"
                      value=""
                      required
                    />
                  </div>

                  <div class="form-group">
                    <div class="row-fluid">
                      <label>Usage</label>
                      <select
                        id="f4"
                        class="btn form-control"
                        name="usage"
                        data-show-subtext="true"
                        data-live-search="true"
                      >
                        <option value="high">High</option>
                        <option value="medium">Medium</option>
                        <option value="low">Low</option>
                      </select>
                    </div>
                  </div>

                  <div>
                    <button
                      type="submit"
                      id="saveAppliance"
                      class="btn btn-success"
                    >
                      Save
                    </button>
                    <button id="cancelAddAppliance" class="btn btn-default">
                      Close
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <%-include('initialScript')%>
  <script>
    var isEdit = false;
    var selectedRow = [];
    $("#add-button").click(function() {
      $("#boxdiv").toggleClass("hidden");
      $("#addModal").toggleClass("hidden");
    });

//saving add appliance
    $("#addAppliance").on("submit", function(e) {
      e.preventDefault();
      console.log($("#addAppliance").serializeArray());
      var formFields = $("#addAppliance").serializeArray();
      console.log(selectedRow);
      if (isEdit) {
        selectedRow[isEdit] = formFields;
        $("#applianceTableRow").empty();
        renderTable();
      } else {
        //push in selectrow
        selectedRow.push(formFields);
        $("#applianceTableRow").empty();
        renderTable();
      }
      document.getElementById("addAppliance").reset();
      $("#boxdiv").toggleClass("hidden");
      $("#addModal").toggleClass("hidden");
    });

//cancelling appliance
    $("#cancelAddAppliance").click(function() {
      document.getElementById("addAppliance").reset();
      $("#boxdiv").toggleClass("hidden");
      $("#addModal").toggleClass("hidden");
      isEdit = false;
    });

    function deleteRow(row) {
      var id = $($(row).closest("tr")).attr("id");
      selectedRow.splice(id, 1);
      $($(row).closest("tr")).remove();
    }

    function editAppliance(row) {
      var cols = [];
      var id = $($(row).closest("tr")).attr("id");
      $($($(row).closest("tr")))
        .find("td")
        .each(function(colIndex, c) {
          cols.push(c.textContent);
        });
      $("#f1").val(cols[0]);
      $("#f2").val(cols[1]);
      $("#f3").val(cols[2]);
      $("#f4").val(cols[3]);
      $("#boxdiv").toggleClass("hidden");
      $("#addModal").toggleClass("hidden");
      isEdit = id;
    }

    function renderTable() {
      selectedRow.forEach(function(r, i) {
        var row = '<tr id = "' + i + '">';
        r.forEach(function(f) {
          row = row + "<td>" + f.value + "</td>";
        });
        row =
          row +
          '<td><i title="Edit appliance" onclick="editAppliance(this)" class="tim-icons icon-pencil" ></i >&nbsp;&nbsp; <i title="Remove appliance" onclick="deleteRow(this)" class="tim-icons icon-trash-simple" ></i> </td>';
        row = row + "</tr>";
        $("#applianceTableRow").append(row);
      });
    }

    function saveData() {
      var data = [];
      var feilds = ["name", "brand", "model", "usage"];
      selectedRow.forEach(function(f, i) {
        var formData = {
          name: f[0].value,
          brand: f[1].value,
          model: f[2].value,
          usage: f[3].value
        };
        console.log(formData);
        data.push(formData);
      });
      if (data.length > 0)
        $.post("/users/saveDevices", { data: JSON.stringify(data) }, function(
          res
        ) {
          if (res.code == 1) {
            demo.showNotification(
              "bottom",
              "center",
              res.message,
              4,
              "icon-alert-circle-exc"
            );
          } else if (res.code == 0) {
            window.location.reload();
          }
        });
    }
  </script>
</html>
