<div id ="c4" class="hidden content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h5 class="title">Support</h5>
          </div>
          <div class="card-body">
          </div>
        </div>
        </div>
    </div>
</div>